@import "tailwindcss";

:root {
  --background: #070b18;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #070b18;
    --foreground: #ffffff;
  }
}

html,
body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Reset */
@layer base {
  a {
    color: inherit;
    text-decoration: none;
  }

  button {
    all: unset;
    cursor: pointer;
  }
}

/* Selection color */
::selection {
  background: rgba(34, 211, 238, 0.3);
}
